Qtclient2/Qtclient2.VC.db
Qtclient2/.vs/Qtclient2/v14/.suo
Qtclient2/Qtclient2/x64/
Qtclient2/x64/Debug/Qtclient2.exe
Qtclient2/x64/Debug/
QtServer2/QtServer2.VC.db
QtServer2/QtServer2/QtServer2.cpp~RF6fe2b29.TMP
QtServer2/QtServer2/x64/Debug/
QtServer2/x64/Debug/
